body {
background-size: cover;    
}
h1 {
    color: white;
}
.show_instructions {
    font-size: 40px;
}
#heading {
    color: green;
    font-size: 30px;
}
#instructions {
    border-radius: 20px;
    background-color: white;
    width: 900px;
}
li {
font-size: 20px;

}
#hide_instructions {
    float: right;
}
#instructions, p {
    font-size: 20px;
}
.play_button {
    font-size: 20px;
}